<launch>
     <arg
    name="model" />
    <param
        name="robot_description"
        textfile="$(find turtlebot_v2_urdf)/urdf/turtlebot_v2_urdf.urdf" />
        <!-- textfile="$(find R2B_URDF)/urdf/R2B_URDF.urdf" />  -->
    <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        output = "log" />
    
    <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 GameFieldFrame base_footprint 100" /> -->

    <node name="map" pkg="position" type="map" output="log" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find position)rviz/map.rviz" />
    <!-- <node name="robot" type="robot" pkg="position" output="screen"/> -->
</launch>